/*** eEKS styles  ******* uncompressed SCSS file here:  ***
https://github.com/raffaelj/eEKS/blob/master/css/style.scss
**********************************************************/

// define colors
// `_tr` means transparent
$clr_white: #fafafa;
$clr_white_tr: rgba(220,220,240,.8);
$clr_black: #0d0d0d;
$clr_black_tr: rgba(0,0,0,.1);
$clr_black_tr_light: rgba(0,0,0,.02);
$clr_black_tr_light_2: rgba(0,0,0,.12);
$clr_black_tr_dark: rgba(0,0,0,.5);
$clr_grey_light: #ccc;
$clr_grey_light_tr: rgba(250,250,250,0.8);
$clr_grey: #666;
$clr_grey_dark: #222;
$clr_main: #1D90B7;//blue - rgb(29,144,183)
$clr_main_tr: rgba(29,144,183,.5);//blue
$clr_main_light: #29ABD7;//blue
$clr_main_2: #A4BA1E;//green
$clr_alarm: #FF6347;//red (tomato)
$clr_alarm_dark: #8c0909;//dark red
$clr_attention: #ffc435;//orange
$clr_confirm: #C5C924;//green


// mixins
@mixin box-shadow($shadow...) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}

// default stuff
html {
  margin:0;
  padding:0;
}

body {
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;  
  @media print{
    font-size:11pt;
    line-height:2em;
  }
}

a {
  color: $clr_main;
  text-decoration:none;
  &:hover,&:focus{
    text-decoration: underline dotted;
  }
}

p{
  margin:.1em 0;
  padding:0;
}

// custom classes for easier styling
.text-right {text-align:right;}
.text-left {text-align:left;}
.number,.integer,.date,.datetime{display:block;text-align:right;}
.center{margin-left:auto;margin-right:auto;text-align:center;}
.hidden{display:none;}

// positive and negative numbers
.minus{color: $clr_alarm_dark;}
.zero{color:$clr_grey_light;}
.plus{}

// set page size and reset a few rules for printing

// page size A4 - standard in Germany
// Only a few browsers understand the CSS rule `size`.
// Firefox ignores the rule. Opera, Google Chrome and
// Internet Explorer have better results.
// 
// more paper sizes: 
// https://en.wikipedia.org/wiki/Paper_size#International_paper_sizes
@page {
  size: A4;
  // size: A4 landscape;
  margin:0;
  padding:0;
}

@media print{
  html,body,main,page,.page{
    margin:0;
    padding:0;
    border:none;
    @include box-shadow(0);
  }
  .no-print{display:none;}
}

// set display block for HTML5 elements in older browsers
main,header,footer,nav{
  display:block;
}

// main
main{
  background-color: $clr_white;
  padding:.2em 0 1em;
  // optional background image is set via ini file and generated in template file with inline `style="background-image:$this->background_image;"`
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// footer
footer{
  padding: .5em;
  border-top: 4px solid $clr_grey_light;
  background: $clr_grey_dark;
  color: $clr_white;
  clear:both;// float right from lm_save_changes_button
  @media print{display:none;}
}

// header
header{
  margin:0;
  padding: .5em;
  border-bottom: 4px solid $clr_grey_light;
  background: $clr_grey_dark;
  color: $clr_white;
  h1{
    display:inline-block;
    font-size: 1.3em;
    line-height:1.3em;
    margin: 0;
    padding:0 .5em 0 0;
    border-right: 4px dotted $clr_grey_light;
  }
  @media print{display:none;}
}

// navigation
nav {
  display: inline-block;
  // display: inline;
  @media print{display:none;}
}


// tables

table {
  border-spacing: 2px;
  border-collapse: separate;
  margin: .2em auto;
  border: 1px solid $clr_grey_light;
  border-radius: 6px;
  font-size:14px;
  clear:both;// float right from lm_save_changes_button
  td,th { 
    padding: 4px;
    border-bottom: 1px solid $clr_grey_light;
  }
  th {
    background: $clr_main_2;
    color: $clr_grey_dark;
    a {
      display: block;
      padding: .2em .1em .1em;
      text-decoration: none;
      font-size: 1.05em;;
      color: $clr_grey_dark;
    }
    &.col_edit{
      width:3em;
      @media print{width:0;}
    }
  }
  td{
    &.col_multi_value{
      font-size:.8em;
    }
    input{
      // margin:0 auto;
    }
  }
  tr {
    // rounded borders
    &:first-child th:first-child{border-top-left-radius:3px;}
    &:first-child th:last-child{border-top-right-radius:3px;}
    &:last-child td:first-child{border-bottom-left-radius:3px;}
    &:last-child td:last-child{border-bottom-right-radius:3px;}
    // different colors for even and odd rows
    &:nth-child(even) td {background-color: $clr_white_tr;}
    &:nth-child(odd) td {background-color: $clr_grey_light_tr;}
    // highlight hover and current row edited
    &.lm_active td, &:hover td {background: $clr_main_tr;}
  }
}

// eeks specific table layout
th a.lm_account{
  width:3.5em;
}

// images

.lm_grid img{
  display:block;
  height:2em;
}

// lm_success and lm_error
.lm_success
,.lm_error{
  margin: 0 auto;
  text-align: center;
  color: $clr_grey_dark;
  @media print{display:none;}
  p{
    display:inline-block;
    padding: .5em;
    width: 50%;
    border: 2px solid $clr_attention;
    border-radius: 5px;
    background-color:$clr_grey_light_tr;
    font-weight: bold;
  }
}
.lm_error p{
  border: 2px solid $clr_alarm;
}

///////////// buttons and icons

.button
,.lm_button
{
  display:inline-block;
  padding:.5em;
  margin:.2em;
  border: 0;
  border-radius:2px;
  background-color:$clr_main;
  color: $clr_grey_dark;
  font-family:inherit;
  font-size: 1em;
  font-weight: bold;
  text-decoration:none;
  cursor: pointer;
  @include box-shadow(0 -2px 0 $clr_black_tr_light_2 inset);
  &:hover,&:focus{
    background-color:$clr_main_light;
    text-decoration:none;
      &.attention{background-color:$clr_confirm;}
      &.alarm{background-color:$clr_alarm_dark;color:$clr_white;}
      // &.confirm{background-color:$clr_main;}
      &.confirm{background-color:$clr_main_2;}
  }
  &.active{
    border: 2px solid $clr_white;
  }
  &.attention{background-color:$clr_attention;}
  &.alarm{background-color:$clr_alarm;}
  &.confirm{background-color:$clr_confirm;}
  
  &.grid_export_link{
    // position: absolute;
    // top: .7em;
    // right: 1em;
    // font-size: .8em;
  }
  &.lm_save_changes_button{
    float:right;
    @media print{display:none;}
  }
}

.icon, .lm_icon{
  display: inline-block;
  height: 1em;
  width: 1em;
  margin:0;
  padding: .1em;
  border: 1px solid $clr_grey_dark;
  border-radius: 2px;
  text-align: center;
  line-height: 1em;
  font-weight: normal;
  vertical-align: middle;
  &.lm_grid_edit_link{// temporarily until icons are added
    overflow: hidden;
    @media print{display:none;}
  }
}

///////////// delete button

.delete_confirm{
  display:none;
}
  
.button_delete{
  display:none;
  + label{
    display: inline-block;
    &:hover, &:focus{
      background-color:$clr_alarm_dark;
      color:$clr_white;
    }
    @media print{display:none;}
  }
  &:checked{
    + label{
      &:hover,&:focus{
        background-color:$clr_alarm;
        color:$clr_grey_dark;
        &:after{
          color: $clr_grey_dark;
        }
        &:before{
          color: $clr_grey_dark;
        }
      }
      &:before{
        content:"";
        display:block;
        position:fixed;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        background-color:$clr_black_tr;
        border-radius:0px;
      }
      &:after{
        content:"X";
        position:fixed;top: 50%;
        left: 50%;
        width: 1.4em;
        height: 1.4em;
        margin-left: 154px;
        margin-top: -101px;
        line-height: 1.4em;
        border: 1px solid $clr_grey_light;
        border-radius: 50%;
        color: $clr_grey_light;
        background-color: $clr_white;
      }
    }
  }
  &:checked ~ .delete_confirm{
    display:block;
    position:fixed;
    top:50%;
    left:50%;
    width:290px;
    padding:5px;
    margin-top:-77px;
    margin-left:-152px;
    border-radius:5px;
    background:$clr_white;
    @include box-shadow(0px 2px 10px 2px $clr_black_tr_dark);
    text-align:center;
  }
}

///////////// forms

.lm_form {
  margin: 0 auto;
  border-radius: 6px;
  border: 1px solid $clr_grey_light;
  width: 600px;
  max-width: 100%;
  td:first-child {
    text-align: right;
  }
  textarea{
    width:100%;
    height:3em;
  }
  input{
    width:100%;
    height:2em;
  }
  input.number, input.date{
    width:50%;
  }
  input[type=file]{
    height: auto;
  }
}


.lm_form_button_bar{
  text-align: center;
  padding-top: 1em;
}


input.integer{
  width:5em;
}

///////////// search box and inputs

.lm_add_search {
  // display:inline;
  display:inline-block;
  .lm_search_box{
    // display: inline-block;
    display: inline;
  }
  input,select{
    &:first-child{margin-left:0;}
    &:last-child{margin-right:0;}
  }
  @media print{display:none;}
}
.button_clear_search{
  margin: 0 10px 0 -20px;
  display: inline-block;
}
fieldset{
  display:inline-block;
  margin: .2em .1em;
  padding: .1em;
  border: 1px solid $clr_grey_light;
  border-radius: 2px;
  .lm_button{
    margin:0;
    padding:.2em;
  }
}
input
,select
,textarea
{
  margin:0 .1em;
  padding: .2em;
  font-size: .9em;
  box-sizing: border-box;
}
input[type="checkbox"], input[type="radio"]{
  margin: -2px .2em 0 0;
  vertical-align: middle;
  width:auto;
}

option{
  &.select_title{
    font-style:italic;
    color:$clr_grey;
  }
}
.lm_grid{
  textarea{
    width: 21em;
    height: 3em;
  }
}
label {
  display: inline-block;
  vertical-align: middle;
  font-size: .9em;
  line-height: 1em;
  margin: 0 .2em 0 0;
}


///////////// pagination
.lm_pagination{
  text-align: center;
  p{
    display: inline-block;
    margin: .2em 0 .1em;
    padding: .2em;
    border: 1px solid $clr_grey_light;
    border-radius: 2px;
    background-color: $clr_grey_light_tr;
  }
  @media print{display:none;}
}


///////////// EKS

$zoom: 2.5;
$zoom_print: 3.8;
$fontsize_screen: 14px;
$fontsize_print: 18px;

.portrait{
  height:calc( 297px * #{$zoom} );
   width:calc( 210px * #{$zoom} );
  @media print{
    // height:calc(297mm * 0.99);
    // width:calc(210mm * 0.99);
    height:297mm;
    width:210mm;
  }
}

.landscape{
  height:calc( 210px * #{$zoom} );
   width:calc( 297px * #{$zoom} );
  @media print{
    // height:calc(210mm * 0.99);
    height:210mm;
    // width:calc(297mm * 0.99);
    width:297mm;
  }
}
body.eks form.eks_form{
  text-align:center;// centering inline-block pages
  
  *{text-align:left;}
  
  page{
    display:inline-block;
    position:relative;// for absolute positioning of input fields
    margin: 1em;
    padding:0;
    background-repeat:no-repeat;
    background-size:cover;
    border:1px solid $clr_grey_light;
    vertical-align: top;
    @media print{
      display:block;
      margin:0;
      padding:0;
      border:none;
    }
    
    fieldset{
      margin: 0;
      padding: 0;
      border: none;
    }
    
    input,textarea{
      position:absolute;
      background-color:$clr_main_tr;
      margin:0;
      padding: 0 3px;
      border:none;
      font-size: $fontsize_screen;
      @media print{
        background-color:transparent;
        font-size:$fontsize_print;
      }
    }
    input[type=checkbox],input[type=radio]{
      width: calc(5px * #{$zoom});
      height: calc(5px * #{$zoom});
    }
    
    &#eks_page1{
      background-image:url('../img/eks_1v6_print.png');
      
      input[name=title]{
        bottom: calc(200px * #{$zoom});
        left: calc(20px * #{$zoom});
        width:18%;
      }
      input[name=first_name]{
        bottom: calc(200px * #{$zoom});
        left: calc(60px * #{$zoom});
        width:38%;
      }
      input[name=last_name]{
        bottom: calc(188px * #{$zoom});
        left: calc(20px * #{$zoom});
        width:37%;
      }
      input[name=birthday]{
        bottom: calc(188px * #{$zoom});
        left: calc(100px * #{$zoom});
        width:19%;
      }
      input[name=bg_number]{
        bottom: calc(176px * #{$zoom});
        left: calc(20px * #{$zoom});
        width:57%;
      }
      input[name=title_refer]{
        bottom: calc(154px * #{$zoom});
        left: calc(20px * #{$zoom});
        width:18%;
      }
      input[name=first_name_refer]{
        bottom: calc(154px * #{$zoom});
        left: calc(60px * #{$zoom});
        width:38%;
      }
      input[name=last_name_refer]{
        bottom: calc(142px * #{$zoom});
        left: calc(20px * #{$zoom});
        width:37%;
      }
      input[name=birthday_refer]{
        bottom: calc(142px * #{$zoom});
        left: calc(100px * #{$zoom});
        width:19%;
      }
      input[name=calculated]{
        bottom: calc(124px * #{$zoom});
        left: calc(77px * #{$zoom});
      }
      input[name=estimated]{
        bottom: calc(124px * #{$zoom});
        left: calc(21px * #{$zoom});
      }
      input[name=period]{
        bottom: calc(104px * #{$zoom});
        left: calc(26px * #{$zoom});
        width:55%;
      }
      input[name=activity]{
        bottom: calc(67px * #{$zoom});
        left: calc(26px * #{$zoom});
        width:55%;
      }
      input[name=activity]{
        bottom: calc(67px * #{$zoom});
        left: calc(26px * #{$zoom});
        width:55%;
      }
      input[name=start_date]{
        bottom: calc(55px * #{$zoom});
        left: calc(26px * #{$zoom});
        width:6em;
      }
      input[name=end_date]{
        bottom: calc(55px * #{$zoom});
        left: calc(26px * #{$zoom} + 8em);
        width:6em;
      }
      input[name=company_location]{
        bottom: calc(43px * #{$zoom});
        left: calc(26px * #{$zoom});
        width:55%;
      }
      input[name=legal_form]{
        bottom: calc(31px * #{$zoom});
        left: calc(26px * #{$zoom});
        width:55%;
      }
      input[name=number_of_employees]{
        bottom: calc(15px * #{$zoom});
        left: calc(58px * #{$zoom});
        width: 1.5em;
        font-size:12px;
      }
      input[name=has_employees]{
        bottom: calc(17px * #{$zoom});
        left: calc(21px * #{$zoom});
      }
      @media print{
      
        // input,textarea{
          // font-size: 18px;
        // }
        input[type=checkbox],input[type=radio]{
          width: calc(5px * #{$zoom_print});
          height: calc(5px * #{$zoom_print});
        }
       
          
        input[name=title]{
          bottom: calc(200px * #{$zoom_print});
          left: calc(20px * #{$zoom_print});
        }
        input[name=first_name]{
          bottom: calc(200px * #{$zoom_print});
          left: calc(60px * #{$zoom_print});
        }
        input[name=last_name]{
          bottom: calc(188px * #{$zoom_print});
          left: calc(20px * #{$zoom_print});
        }
        input[name=birthday]{
          bottom: calc(188px * #{$zoom_print});
          left: calc(100px * #{$zoom_print});
        }
        input[name=bg_number]{
          bottom: calc(176px * #{$zoom_print});
          left: calc(20px * #{$zoom_print});
        }
        input[name=title_refer]{
          bottom: calc(154px * #{$zoom_print});
          left: calc(20px * #{$zoom_print});
        }
        input[name=first_name_refer]{
          bottom: calc(154px * #{$zoom_print});
          left: calc(60px * #{$zoom_print});
        }
        input[name=last_name_refer]{
          bottom: calc(142px * #{$zoom_print});
          left: calc(20px * #{$zoom_print});
        }
        input[name=birthday_refer]{
          bottom: calc(142px * #{$zoom_print});
          left: calc(100px * #{$zoom_print});
        }
        input[name=calculated]{
          bottom: calc(124px * #{$zoom_print});
          left: calc(77px * #{$zoom_print});
        }
        input[name=estimated]{
          bottom: calc(124px * #{$zoom_print});
          left: calc(21px * #{$zoom_print});
        }
        input[name=period]{
          bottom: calc(104px * #{$zoom_print});
          left: calc(26px * #{$zoom_print});
        }
        input[name=activity]{
          bottom: calc(67px * #{$zoom_print});
          left: calc(26px * #{$zoom_print});
        }
        input[name=activity]{
          bottom: calc(67px * #{$zoom_print});
          left: calc(26px * #{$zoom_print});
        }
        input[name=start_date]{
          bottom: calc(55px * #{$zoom_print});
          left: calc(26px * #{$zoom_print});
        }
        input[name=end_date]{
          bottom: calc(55px * #{$zoom_print});
          left: calc(26px * #{$zoom_print} + 8em);
        }
        input[name=company_location]{
          bottom: calc(43px * #{$zoom_print});
          left: calc(26px * #{$zoom_print});
        }
        input[name=legal_form]{
          bottom: calc(31px * #{$zoom_print});
          left: calc(26px * #{$zoom_print});
        }
        input[name=number_of_employees]{
          bottom: calc(15px * #{$zoom_print});
          left: calc(58px * #{$zoom_print});
          width: 1.5em;
          font-size:$fontsize_print;
        }
        input[name=has_employees]{
          bottom: calc(17px * #{$zoom_print});
          left: calc(21px * #{$zoom_print});
        }
      }
    }
    &#eks_page2{
      background-image:url('../img/eks_2v6_print.png');
    }
    &#eks_page3{
      background-image:url('../img/eks_3v6_print.png');
    }
    &#eks_page4{
      background-image:url('../img/eks_4v6_print.png');
    }
    &#eks_page5{
      background-image:url('../img/eks_5v6_print.png');
    }
    &#eks_page6{
      background-image:url('../img/eks_6v6_print.png');
    }
  }

}



