;<?php
;die(); // For further security
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;/*
;; don't change anything above this line
;;

;; EKS profile

[eks]
;; 1=freiberuflich, 3=gewerblich
default_mode_of_employment = 1

;; for possible future change
eks_version = "Jobcenter-EKS.01.2017"

;; start date for calculating date ranges
eks_start_date = "01.06.2016"

;; small business
;; Kleinunternehmer/in (§ 19 UStG)
small_business = true

;; default language
language = "de"

;;;;; page 1 / Seite 1

;; personal data of applicant
;; 1.  Persönliche Daten
;; 1.1  Meine persönlichen Daten
[personal_data]
title = "Frau"
first_name = "Amélie"
last_name = "Poulain"
birthday = "05.06.1974"
bg_number = "09876//0012345"


;; location and signature
;; Ort, Unterschrift
[signature]
location = "Leipzig"
signature = "Dieses Schreiben wurde maschinell erstellt und ist ohne Unterschrift gültig."
; signature =


;; personal data of person to whom the data of this attachment refers to
;; 1.2  Persönliche Daten der Person in meiner Bedarfsgemeinschaft, auf die sich die Angaben dieser Anlage beziehen
;; if empty use personal_data from above
[personal_data_refer]
title = 
first_name = 
last_name = 
birthday = 


;; period for receipt of unemployment benefits
;; 3.  Bewilligungszeitraum
;; --> calculated by eEKS


;; company data
;; 4.  Daten zur selbständigen Tätigkeit
;; 4.1  Allgemeine Daten zur selbständigen Tätigkeit
[company_data]
activity = "Kunst, Gestaltung, Phantasietraining"
start_date = "25.04.2001"
end_date = 
company_location = "Unter dem Regenbogen 42, 04567 Leipzig"
legal_form = "Einzelunternehmerin"


;; employees
;; 4.2  Personal
[employees]
has_employees = false
number_of_employees = 0


;;;;; page 2 / Seite 2

;; subsidies
;; 5.  Zuschüsse/Beihilfen
[subsidies]
; has_subsidies = false
has_subsidies = false
payer = 
start_date = 
end_date = 
monthly_amount = 

applied_subsidies = false
applied_payer = 
apply_date = 
apply_start_date = 

;; loan
;; 6.  Darlehen
[loan]
has_loan = false
amount = 
value_date = 
date_refund = 
monthly_repayment_rate = 
financed_type_of_costs = 
financed_amount_of_costs = 

;; home office
;; 7.  Angaben zu den Betriebsräumen
[home_office]
has_home_office = true
quantity = 1
square_meter = "12,32"

;; don't change anything below this line
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/
;?>