;<?php
;die(); // For further security
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;/*
;; don't change anything above this line
;;
;; eEKS configuration
;;
;; change your config and rename this file to `eEKS.config.ini.php`

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; lazy_mofo config

[lm]
timezone = 'Europe/Berlin'
return_to_edit_after_insert = false
return_to_edit_after_update = false
grid_show_images = true
grid_show_search_box = true

;; pagination
grid_limit = 50

;; max chars in cell
grid_ellipse_at = 80

;; interval of records to repeat header column titles at
grid_repeat_header_at = 26

;; activate checkboxes for multiple deletions
grid_multi_delete = false

;; 
query_string_list = "_date_between,_from,_to,_amount,_type_of_costs,_mode_of_employment,_edit_table,_missing_date_on,_missing_date"

;; 
query_string_list_post = "_edit_table"

;; allow javascript
allow_javascript = true

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; eEKS specific config

[eeks]

;; language i18n
i18n = de-de

;; name of theme must be the same like the folder name with `index.theme` file
theme = default
; theme = minimal

;; feature does not exist, but would be nice to have
;; change to true for demo data
demo = false

;; You don't like the name of this software?
;; It remembers you to employment agency? - Change it!
; software_name = "I <3 data"

;; slogan
slogan = "Don't worry, be happy ;-)"

;; optional background image
; background_image = "img/0020_raffael-jesche_cc-by-sa-3.jpg"
background_image = ""


;; turn multi-value column on
multi_column_on = true

;; display sums of columns in the last row of the grid
grid_show_column_sums = true
sum_these_columns[] = gross_amount

;; use renamed column names for CSV export
rename_csv_headers = true

;; set path to wkhtmltopdf for PDF export
wkhtmltopdf_path = "/home/$USER/bin/wkhtmltopdf"

;; active views
views[] = missing_date
views[] = monthly_sums
views[] = yearly_sums
views[] = eks
views[] = edit_tables

;; column names in this array are shown together in a multi-value column
multi_column[] = invoice_number
multi_column[] = account
multi_column[] = cat_02
multi_column[] = cat_03
multi_column[] = notes_02
; multi_column[] = is_reimbursement

;;;; search filters

;; date filters
;; the first one is used as default in monthly_sums
date_filters[] = value_date
date_filters[] = voucher_date

;; column names for full text search in search box
search_in_columns[] = customer_supplier
search_in_columns[] = item
search_in_columns[] = notes_01

;; column names of category filters in search box
;; the first one is used as default in monthly_sums
category_filters[] = type_of_costs
category_filters[] = mode_of_employment
; category_filters[] = cat_01

;; filter by positive/negative amounts in the following column
amount_filter = gross_amount

;; filters per view
;; options: by_pos_neg_amount, between_dates, missing_date, by_category, full_text_search, eks_date_range, choose_eks_profile
[view_filter]
eks[] = eks_date_range
eks[] = choose_eks_profile
monthly_sums[] = by_pos_neg_amount
monthly_sums[] = between_dates
monthly_sums[] = by_category
edit_tables[] =

;; dashboard
[dashboard]
;; unpaid invoices
no_value_date_income = true
;; sums for last months, this year, maybe comparison with last year
sums = true
;; notices about assessment basis, lose of small business state etc.
notices = true
graphs = true

;; active columns in default table to show in grid
;; set to true to activate or to false to deactivate
[active_columns]
ID = true
value_date = true
voucher_date = true
gross_amount = true
tax_rate = false
account = true
invoice_number = true
customer_supplier = true
posting_text = false
item = true
type_of_costs = true
mode_of_employment = true
scope = false
project = false
cat_01 = false
cat_02 = false
cat_03 = false
notes_01 = true
notes_02 = true
notes_03 = false
notes_04 = false
notes_05 = false
file_01 = false
file_02 = false
file_03 = false
is_reimbursement = false
edit_delete_column = true


;; default sort order of default table
[sort_order]
1 = "value_date IS NULL DESC"
2 = "value_date DESC"
3 = "voucher_date DESC"


;; joins for sql query
;; alias `a` is used for default table accounting
;; description coming soon
[sql_joins]
type_of_costs[table] = type_of_costs
type_of_costs[ID] = ID
type_of_costs[column] = type_of_costs
type_of_costs[alias] = t
mode_of_employment[table] = mode_of_employment
mode_of_employment[ID] = ID
mode_of_employment[column] = mode_of_employment
mode_of_employment[alias] = m
scope[table] = scope
scope[ID] = ID
scope[column] = scope
scope[alias] = s
project[table] = project
project[ID] = ID
project[column] = project
project[alias] = p


;; don't change anything below this line
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/
;?>