;<?php
;die(); // For further security
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;/*
;; don't change anything above this line
;;
;; eEKS configuration
;;
;; change your config and rename this file to `eEKS.config.ini.php`

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; eEKS specific config

[eeks]

;; name of theme must be the same like the folder name with `index.theme` file
theme = default
; theme = test

;; feature does not exist, but would be nice to have
;; change to true for demo data
demo = false

;; You don't like the name of this software?
;; It remembers you to employment agency? - Change it!
; name = "I <3 data"

;; slogan
slogan = "Don't worry, be happy ;-)"

;; optional background image
; background_image = "img/0020_raffael-jesche_cc-by-sa-3.jpg"


;; active views
views[] = no_date
views[] = monthly
views[] = edit
views[] = eks

;; turn multi-value column on
multi_column_on = 1

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; lazy_mofo config

[lm]
timezone = 'Europe/Berlin'
return_to_edit_after_insert = false
return_to_edit_after_update = false
grid_show_images = true
grid_show_search_box = true

;; pagination
grid_limit = 50

;; max chars in cell
grid_ellipse_at = 80

;; interval of records to repeat header column titles at
grid_repeat_header_at = 25

;; activate checkboxes for multiple deletions
;grid_multi_delete = true


;; column names of date filters in search box
[date_filters]
0 = value_date
1 = voucher_date

;; column names of category filters in search box
[category_filters]
0 = type_of_costs
1 = mode_of_employment
; 2 = cat_01

;; column names for full text search in search box
[search_in_columns]
0 = from_to
1 = object

;; active columns in default table to show in grid
;; comment or uncomment the following lines for your needs
[active_columns]
table[] = ID
table[] = value_date
table[] = voucher_date
table[] = gross_amount
; table[] = tax_rate
table[] = account
table[] = invoice_number
table[] = from_to
; table[] = posting_text
table[] = object
; table[] = type_of_costs
table[] = type_of_costs
table[] = mode_of_employment
table[] = cat_01
; table[] = cat_02
; table[] = cat_03
; table[] = cat_04
; table[] = cat_05
table[] = notes_01
table[] = notes_02
; table[] = notes_03
; table[] = notes_04
; table[] = notes_05
table[] = file_01
; table[] = file_02
; table[] = file_03
table[] = ID

;; column names in this array are shown together in a multi-value column
[multi_column]
1 = invoice_number
2 = account
3 = cat_02
4 = cat_03
5 = notes_02


;; default sort order of default table
[sort_order]
1 = "value_date IS NULL DESC"
2 = "value_date DESC"
3 = "voucher_date DESC"


;; joins for sql query
;; description coming soon
[sql_joins]
type_of_costs[table] = type_of_costs
type_of_costs[ID] = ID
type_of_costs[column] = type_of_costs
type_of_costs[alias] = t
mode_of_employment[table] = mode_of_employment
mode_of_employment[ID] = ID
mode_of_employment[column] = mode_of_employment
mode_of_employment[alias] = m


;; don't change anything below this line
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/
;?>